.Yuridik {
    background: #4495D9;
    margin-top: 100px;
    position: relative;
}


.yuridik-con {
    width: 100%;
    height: 470px;
    display: flex;
    gap: 10px;

}

.Yuridik__text-con {
    width: 50%;
    padding-top: 50px;

    @media screen and (max-width:768px) {
        width: 100%;
        padding: 15px 5px;
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-top: 50px;
    }

    @media screen and (max-width:480px) {
        margin-top: 10px;
    }

}

.Yuridik__text-con-title {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 30px 5px;
    color: white;

    @media screen and (max-width:992px) {
        font-size: 28px;
    }

    @media screen and (max-width:768px) {
        text-align: center;
        color: white;
    }
}

.Yuridik__text-con-text {
    font-size: 22px;
    line-height: 32px;
    padding-left: 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: var(--white);

    @media screen and (max-width:992px) {
        font-size: 16px;
    }

    @media screen and (max-width:768px) {
        text-align: center;
        font-weight: 600;
        color: var(--white);
        max-width: 450px;

    }
}

.Yuridik__text-con-btns {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

    @media screen and (max-width:768px) {
        margin-top: 20px;
    }
}

.Yuridik__text-con-btns-title {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--white);


    @media screen and (max-width:768px) {
        color: var(--white);

    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~btn */


.Yuridik__text-con-btns-btn {
    display: inline-block;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 3px solid #4495D9;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 242, 96, 0.3), 0 0 45px rgba(0, 242, 96, 0.2);

    @media screen and (max-width:768px) {
        font-size: 16px;
    }
}

.Yuridik__text-con-btns-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(0, 242, 96, 0.2);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: width 0.4s ease, height 0.4s ease;
    border-radius: 50%;
    z-index: 0;
}

.Yuridik__text-con-btns-btn:hover::before {
    width: 0;
    height: 0;
}

.Yuridik__text-con-btns-btn:hover {
    color: #4495D9;
    background-color: #02213a;
    box-shadow: 0 0 25px #4495D9, 0 0 50px rgba(0, 242, 96, 0.5), 0 0 75px rgba(0, 242, 96, 0.4);
    border-color: #4495D9;
    transform: translateY(-3px);
}

.Yuridik__text-con-btns-btn span {
    position: relative;
    z-index: 1;
}



.Yuridik__photos-con {
    width: 50%;
    height: 540px;
    position: relative;
    top: -70px;
    ;

    @media screen and (max-width:768px) {
        opacity: 70%;
        height: 450px;
        top: 20px;
        bottom: 0px;
    }

}

.Yuridik__photos-con-photo-1 {
    position: absolute;
    z-index: 1;
    height: 100%;
}

.Yuridik__photos-con-photo-2 {
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
    opacity: 90%;
}

.Yuridik__backround {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;

    @media screen and (min-width:768px) {
        display: none;
    }
}