/* Comment Aziz */
.navbar-logo img {
    width: 70px;
    height: 70px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo__text {
    text-transform: capitalize;
    font-size: 16px;
    color:white;
    font-weight: 600;
     font-family: Arial, Helvetica, sans-serif;
}
.navbar__locales select{
    background: transparent;
    color:#4495D9 ;
    border:none;
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
    padding: 5px;
     
}
.navbar__locales select{
    @media screen and (max-width:768px){
        margin-left:auto;
    }
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    
}


.navbar__menu-ul {
    margin-left: auto;
    display: flex;
    gap: 20px;
    @media screen and (max-width:768px) {
        display: none;
    }
}
.navbar__menu-ul li{
    
    a{
        color:white;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    a:hover{
        color:#14F4FF;
        transition: 0.5s;
    }
  
}
.navbar__menu-ul li{
    a{
        @media screen and (max-width:992px) {
            font-size: 14px;
        }
    }
}
.nav__burger-btn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
 
    margin-right: 10px;
    @media screen and (min-width:768px) {
        display: none;
    }
}

.nav__burger-btn .sp {
    background: white;
}

.nav__burger-btn .sp.active {
    background: white;
}

.nav__burger-btn .sp:nth-child(1) {
    display: block;
    width: 50%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: 0.5s;
}

.nav__burger-btn .sp:nth-child(2) {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    transition: 0.5s;
}

.nav__burger-btn .sp:nth-child(3) {
    display: block;
    width: 50%;
    height: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    transition: 0.5s;
}

.btnactive {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99;
    margin-top: -20px;
    @media screen and (min-width:768px) {
        display: none;
    }
}

.btnactive .sp:nth-child(1) {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: auto;
    left: 0;
    border-radius: 8px;
    transform: rotate(45deg);
}

.btnactive .sp:nth-child(2) {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 8px;
    display: none;
}

.btnactive .sp:nth-child(3) {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: auto;
    right: 0;
    border-radius: 8px;
    transform: rotate(-45deg);
}

.navbar__browsers {
    @media screen and (max-width:768px) {
        display: none;
    }

}

.navbar_browsers-burger {
    display: none;

    @media screen and (max-width:768px) {
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
    }
}

.navbar__menu-burger {
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100dvh;
    background: #30383C;
    position: absolute;
    left: 0;
    top: -100dvh;
    transition: 1s;
    justify-content: center;
    align-items: center;
     z-index: 1;
    
    @media screen and (min-width:768px) {
        display: none;
    }
}

.navbar__menu-burger-ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 32px;
    text-align: center;
    
}

.navbar__menu-burger-ul li a{
    color:white;
}

.activenavigation {
    transition: 1s;
    z-index: 1;
    top: 0;
    justify-content: space-between;
    @media screen and (min-width:768px) {
        display: none;
    }
}

.navbar__linear-1{
    filter: invert(80%) brightness(120%) blur(3px);

    @media screen and (max-width:480px) {
        display: none;
    }
}
.navbar__linear-2{
    filter: invert(80%) brightness(120%) blur(3px);
    margin-left: -80px;
        @media screen and (max-width:480px) {
        display: none;
    }
}